<?xml version="1.0"?>
<phpunit backupGlobals="true" colors="true" processIsolation="true" cacheDirectory=".phpunit.cache">
    <coverage/>
    <testsuites>
        <testsuite name="PHPUnit">
            <directory>./tests</directory>
            <exclude>./vendor/</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>